<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../myViews/Styling.css" />
    <script src="../myServer/app.js"></script>

    <title>Intro Page (Page 1) </title>
  </head>
  <body>
    {{>Header}}
    <h3>This is an Intro page (Page 01)</h3>
    {{>Body}} <br>
    <img src="../myStatics/Img/1.jpg" id="img"/>
    {{>Footer}}

  </body>
</html>